---
---

@import "{{ site.theme }}";
div { text-align: justify}
#div { text-indent: 25px}
div { line-height: 30px}
div { margin-top: 0}
div { margin-bottom: 0}

p {
  line-height: 30px ;
  margin-top: 0 ;
  margin-bottom: 0 ;
  text-indent: 25px ;
}
